html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    background-color: black;
    height: 100%;
}
/* Small screens (e.g., mobile phones) */
@media (max-width: 639px) {
    /* Add responsive styles for small screens here */
  }
  
  /* Medium screens (e.g., tablets) */
  @media (min-width: 640px) and (max-width: 1023px) {
    /* Add responsive styles for medium screens here */
  }
  
  /* Large screens (e.g., desktops) */
  @media (min-width: 1024px) {
    /* Add responsive styles for large screens here */
  }